*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: grey;
    padding: 10px;
}

.btn-abrir{
    color: white;
    font-size: 2rem;
}

nav{
    height: 100%;
    width: 0px;
    background-color: rgb(68, 68, 68);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

nav a{
    color: white;
    font-size: 1.5rem;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover{
    color: rgb(68, 68, 68);
    background-color: whitesmoke;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.title{
    background-color: lightgray;
    padding: 1rem;
    width: 800px;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    color: grey;
}

.nome-empresa{
    font-family: Garamond, serif;
    font-size: 1.7rem;
    color: white;
}

.empresa{
    background-color: gray;
    padding: 1rem;
    width: 400px;
    text-align: center;
    margin: auto;

}

.expecificacoes{
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    color: grey;
    width: 300px;
}

.contato-logos{
    text-decoration: none;
    color: grey;
}

.contato-info{
    background-color: lightgray;
    padding: 1rem;
    width: 800px;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer{
    background-color: rgb(243, 243, 243);
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    padding: 10px;
}

.info{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.cabeca{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}