*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(27, 27, 27);
    padding: 10px;
}

.btn-abrir{
    color: white;
    font-size: 2rem;
}

nav{
    height: 100%;
    width: 0px;
    background-color: rgb(68, 68, 68);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

nav a{
    color: white;
    font-size: 1.5rem;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover{
    color: rgb(68, 68, 68);
    background-color: whitesmoke;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
}